body {
    background-color: rgb(255, 221, 157);
    border-bottom: 0px;
    width: 100%;
}
* {
    padding: 0 , 0;
}
p{
    padding-top: 00px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h1 {
    padding-left: 70px;
    padding-top: 50px;
    padding-bottom: 25px;
    font-family: Oswald;
}
.row{
    width: 100%;
}
.card-image {
    height: 200px;
    width: 100%;
    align-items: center;
    border-radius: 10px;
}

#footer {
    padding-top: 30px;
    text-align: center;
    background-color: rgb(255, 221, 157);
}

.icons {

    padding-left: 10px;
    padding-right: 10px;
    color: rgb(75, 75, 75);
}

.icons:hover {
    font-size: 25px;
    color:black;
}

.myname {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Lobster;
    text-shadow: 5px;
}

.mycard {
    padding-top: 0px;
    padding-bottom: 0px;


}

.mycard1 {
    padding-top: 0px;
}

.cardbody {
    margin-left:35px;
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 20px;
    
   
}
 .contact-page{
 padding-left: 30px;


 }

.imagebus {
    width: 100%;
    height: 500px;
   
}

.tag1 {
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 0px;
}

.tag2 {
    padding-top: 30px;
    text-align: center;
}

.tag3 {
    padding-left: 400px;
    ;
    padding-top: 30px;
}


#footer{
    padding-top: 50px;
}
.main-page{
    background-color: rgb(255, 221, 159);
}
.navbar{
width: 100%;

}
.map-container{
    height: 400px;
    width: 100%;
    margin-left: 20px;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    border-radius: 20px;
  }
  .map-container iframe{

    height:100%;
    width:100%;
    position:absolute;
    border-radius: 20px;
 
}

.our-add{

    color:gray;
    padding-left: 60px;

}
#items{

    margin: 0;
    padding: 0;
    border: 0;
}
